body {
    background-color: #454456;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0.5rem;
}

header h2 {
    font-weight: 400;
    margin: 0.5rem;
}

.calculator {
    background-color: #2d2e42;
    color: whitesmoke;
    width: 280px;
    height: 450px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.display p {
    font-size: 36px;
    font-weight: 400;
    margin: 0 10px;
    align-content: center;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
    display: block;
    height: 100px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;

}

.btn {
    background-color: #2d2e42;
    color: whitesmoke;
    box-shadow: 2px 0px 5px 3px #29283a;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
    background-color: #3e3f53;
}

.btn-func {
    color: aquamarine;
}

#calculate {
    width: 130px;
}

footer p {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 8px;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}